body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: auto auto auto; 
    height: 100vh; 
}

.item {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    border: 1px solid #000;
}

.one   { grid-column: 1 / 4; background: #D9A299; justify-content: space-between;}
.two   { grid-column: 1 / 2; grid-row: 2 / 5; background: #DCC5B2; justify-content: right; }
.three { grid-column: 2 / 3; grid-row: 2 / 4; background: #FAF7F3; flex-direction: column; }
.four  { grid-column: 3 / 4; grid-row: 2 / 3; background: #F0E4D3; }
.five  { grid-column: 3 / 4; grid-row: 3 / 4; background: #DCC5B2; }
.six   { grid-column: 2 / 4; grid-row: 4 / 4; background: #D9A299; justify-content: space-between;}

.x {
    background: #fff;
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
}

.y {
    background: #fff;
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
    align-self: flex-start;
}