body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.x, .y {
    background: #fff;
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
}

.container {
    height: 100vh;
    width: 100vw;
    border-collapse: collapse;
}

td {
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 18px;
    padding: 10px;
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 10px;
    text-align: right;
}

@media (max-width: 800px) {
    .container, td, th {
        display: block;
        width: 100%;
        height: auto;
    }
    li { text-align: center; }
}
