/* Plain CSS layout without Flexbox or Grid (floats-based) */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f4f2;
  color: #222;
}

.container {
  box-sizing: border-box;
  min-height: 100vh;
}

.item {
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #333;
  background: #fff;
  line-height: 1.2;
}

.one {
  width: 100%;
  height: 20vh;
  background: #D9A299;
}

.header_text {
  float: right;
}

.two {
  float: left;
  width: 20%;
  height: 60vh;
  background: #DCC5B2;
}

.three {
  float: left;
  height: 60vh;
  width: 60%;
  background: #FAF7F3;
  text-align: center;
}

.four {
  float: right;
  width: 20%;
  height: 30vh;
  background: #F0E4D3;
}

.five {
  float: right;
  width: 20%;
  height: 30vh;
  background: #DCC5B2;
}

.six {
  float: left;
  width: 100%;
  height: 20vh;
  background: #D9A299;
}

.x,
.y {
  background: #fff;
  border: 1px solid #333;
  display: inline-block;
}